@import url(./reset.css);
@import url(./fonts.css);
@import url(./fontello.css);
:root{
  --primary-color: #fff;
  --secondary-color: #fff;
  --accent-color: #fff;

  --white: #fff;
  --black: #000;

  --gray100: #eee;
  --gray200: #ccc;
  --gray300: #aaa;

  --orange100: #e8852e;
  --orange200: #ed552f;

  --yellow: #ff0;

  --container-size: 940px;
  --spacing-lg: 30px;
  --spacing-base: 20px;
  --spacing-sm: 10px;
}

/* 기본 스타일 */
html{
  font-size: 0.625em;
}

body{
  font-size: 1.4rem;
  --text-color: var(--black);
  --bg-color: var(--gray300);

  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: var(--text-color);
  /* background-color: var(--bg-color);
  background-image: url("./../assets/bg/bg_flower.png"), linear-gradient(var(--gray200) 0%, var(--gray100) 30%, var(--white) 60%, var(--white) 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0; */

  background: url("./../assets/bg/bg_flower.png") no-repeat 50% 0, linear-gradient(var(--gray200) 0%, var(--gray100) 30%, var(--white) 60%, var(--white) 100%) repeat 0 0, var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  body{
    --text-color: var(--white);
    --bg-color: var(--black);
  }
}

/* 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}

/* 테두리 초기화 */
fieldset{
  border: 0 none;
}


/* 레이아웃 */
.header, .visual, .slogan, .footer-inner{
  width: var(--container-size);
  padding: 0 var(--spacing-lg);
  margin: 0 auto;
}

/* 건너뛰기 링크 */
/* .skip-nav{

  a{
    position: absolute;
    width: 100%;
    padding: var(--spacing-sm) 0;
    background: var(--black);
    color: var(--white);
    z-index: 10;
    text-align: center;
    transform: translateY(-100%);
  }

  a:focus{
    transform: none;
  }
} */

.skip-nav{
  background: #000;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  translate: 0 -100%;

  &:focus-within{
    translate: 0 0;
  }

  a{
    padding: 8px;
  }
}

/* 헤더 */
.header{
  background-color: var(--white);
  position: relative;
  border-radius: 0 0 15px 15px;
}

/* 로고 */
.logo{
  line-height: 1;
  position: absolute;
  top: 45px;
  left: 65px;

  a{
    display: block;

    img{
      vertical-align: top;
    }
  }
}

/* 안내 링크 */
.member{
  --focus-area: 4px;
  --link-sm-spacing: 4px;
  --link-md-spacing: 8px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  padding: var(--focus-area) 0;
  position: relative;
  right: calc(var(--link-md-spacing) * -1);
  
   li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

     a{
      padding: var(--link-sm-spacing) var(--link-md-spacing);
      text-transform: uppercase;
    }
  }
}

/* 숨김 콘텐츠 */
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 메인 메뉴 */
.navigation{
  padding-bottom: 30px;
}

.menu{
  display: flow-root;
  background-color: var(--orange200);
  background-image: linear-gradient(var(--orange100) 0%, var(--orange200) 35%, var(--orange200) 70%, var(--orange100) 100%);
  border-top: 2px solid var(--black);
  padding-left: 230px;
  
  .menu-item{
    position: relative;
    float: left;
    border-left: 2px solid var(--white);

    button{
      cursor: pointer;
      border: 0;
      background: none;
      padding: 16px 20px;
      color: var(--white);
      font-size: 1.6rem;
      font-weight: 700;
      text-shadow: 1px 1px 0 var(--black), -1px -1px 0 var(--black);
    }

    ul{
      white-space: nowrap;
      position: absolute;
      bottom: -20px;
      display: none;

      li{
        display: inline-block;
        margin-right: 10px;
      }
    }

    .menu-html, .menu-css, .menu-standards{
      left: 0;
    }

    .menu-accessibility, .menu-qna, .menu-archive{
      right: 0;
    }
  }

  .menu-item.is-active{

    button{
      color: #ff0;

      &::after{
        content: "";
        background-color: pink;
        display: block;
        border-top: 2px solid black;
        position: absolute;
        width: calc(100% - 40px);
        bottom: -2px;
      }
    }

    ul{
      display: block;
    }
  }
}
/* 비주얼 */
@keyframes moveEffect {
  0%{
    font-size: 12px;
    color: rgba(0,0,0,0);
    translate: 0 0;
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    translate: 400px 75px;
  }
}

@keyframes fadeEffect {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.visual{
  height: 120px;
  position: relative;

  &::before, &::after{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    top:0;
    left: 0;
    animation: fadeEffect 2s infinite alternate ease-in-out running;
  }

  &::before{
    background: url("./../assets/bg/ani_flower_01.png") no-repeat 0 -10px, 
    url("./../assets/bg/ani_flower_02.png") no-repeat 670px 0;
  }

  &::after{
    background: url("./../assets/bg/ani_flower_03.png") no-repeat 300px 0, 
    url("./../assets/bg/ani_flower_04.png") no-repeat 800px 10px;
    animation-delay: 1s;
  }

  p{
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: moveEffect 2s forwards ease-in-out running;
  }
}

@media (prefers-reduced-motion) {
  .visual {
    p{
      animation-play-state: paused;
    }
  }
}

/* 메인콘텐츠 */
.main{
  min-height: 400px;
  width: var(--container-size);
  margin: 0 auto;
  background-color: var(--white);
  display: flow-root;
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
}

.group{
  float: left;
  margin: 0 15px;
}
.group1{
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}

/* 로그인 */
.login{
  box-shadow: 5px 5px 0 0 var(--gray300);
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 5px;
  background: var(--orange200) radial-gradient(circle at right top, var(--orange100), var(--orange200));

  .login-title{
    color: var(--yellow);
    font-size: 1.5rem;
    font-weight: 700;
    text-indent: 1em;
    margin-bottom: 15px;
  }

  .login-form{
    background-color: var(--white);
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 0 10px;

    fieldset{
      position: relative;
      border-bottom: 1px solid var(--gray300);
      display: flex;
      flex-flow: column nowrap;
      row-gap: 6px;
      padding-bottom: 10px;
    }

    label{
      display: inline-block;
      width: 4em;
    }

    input{
      width: 90px;
      border: 1px solid var(--gray300);
      border-radius: 3px;
      padding: 2px 2px 2px 8px;
      height: 22px;
    }

    button{
      position: absolute;
      top: 0;
      right: 0;
      color: var(--white);
      background-color: var(--orange200);
      font-size: 1.3rem;
      width: 50px;
      height: 50px;
      border-radius: 3px;
      border: 0;
    }
  }

  .sign{
    background-color: var(--white);
    border-radius: 0 0 5px 5px;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1.2rem;
  }
}

/* 유효성 검사 배너 */
.validation-list{
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin-bottom: 20px;

  li{
    width: 100%;
  }

  a{
    padding-left: 40px;
    display: flex;
    flex-flow: row nowrap;
    height: 30px;
    align-items: center;
    border: 1px solid var(--gray300);
    border-radius: 30px;
    background: url(./../assets/bg/validation_icon.png) no-repeat 15px 50% /16px 17px,
    linear-gradient(var(--gray200), var(--gray100));
  }
}

/* 슬로건 */
.slogan{
  background-color: teal;
  height: 10vh;
}


/* 푸터 */
.footer{
  height: 10vh;
  background-color: gray;
}
